<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>Sepsis Realtime</title>
	<% include ./partials/resources/links %>
</head>
<body>
	<div class="container">
		<div id="onSuccess" class="alert alert-success fade alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Success</strong>Thank you for your input!
		</div>
		<div class="row">
			<header>
				<a href="#"><img class="img-responsive" id="atom" src="imgs/AtomKnockOut_sm.png" alt="HCA Datalab"></a>
			</header>
		</div>
		<% include ./partials/content/navigation %>
		<% include ./partials/content/main %>
	</div>
	<% include ./partials/content/modal %>

	<% include ./partials/resources/scripts %>
</body>
</html>