#tableauViz {
  min-height: 80vh;
  min-width: 100%;
  padding: 0px; }

body {
  background-color: #eee; }

.container {
  width: 100%; }

.body-content {
  margin-left: 12em;
  width: 85%;
  transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44); }

header {
  padding: 0.7em;
  background-color: #479EE0;
  color: white;
  font-size: large;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

header a {
  color: #fefefe;
  letter-spacing: .2em; }

.pdsa-sn-wrapper {
  position: absolute;
  top: 3.5em;
  left: 0em;
  width: 13em;
  height: 100%;
  background-color: #000B28;
  transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44); }

.pdsa-sn-wrapper ul {
  width: 11em;
  list-style: none;
  margin-top: 2em;
  margin-left: 1em;
  padding: 0em; }

.pdsa-sn-wrapper ul li {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: smaller;
  letter-spacing: .2em;
  color: #479EE0; }

.pdsa-sn-wrapper ul li a {
  font-size: smaller;
  letter-spacing: .2em;
  color: #479EE0;
  padding: 0.5em; }

.pdsa-sn-wrapper ul li a span {
  margin-top: -1em;
  margin-bottom: -1em;
  margin-left: 1em;
  padding: -1em 0; }

.pdsa-sn-wrapper ul .pdsa-sn-brand {
  margin-left: -0.5em; }

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 768px) {
  .pdsa-sn-wrapper {
    left: -10em; }
  .pdsa-sn-wrapper ul li a i {
    padding-left: 10em;
    margin: -1em 0em; }
  .body-content {
    margin-left: 3em; } }
