<div class="container body-content"  id="wrap">
	<div class="row">
			<div class="col-xs-10 col-lg-12" id="tableauViz">
			</div>	
	</div>
	<div class="row">
		<div class="col-xs-10 col-lg-12" id="controls" style="overflow:scroll;">
		 	<% include ./tab-controls %>
		</div>
	</div>
</div>