<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <div class="modal-body">
     
      <H2>Elegant Modal</H2>
      <h4>Can be used for confirmation or error</h4>
     
      </div>
    </div>
  </div>
</div>