<nav class="pdsa-sn-wrapper">
	<ul>
		<li class="pdsa-sn-brand visible-sm visible-md visible-lg">Realtime Sepis</li>
<!-- 		<li><a href="#">
			<span class="visible-sm visible-md visible-lg">
				<i class="glyphicon glyphicon-question-sign"></i> Help</span>
			<i class="glyphicon glyphicon-question-sign visible-xs"></i>
		</a></li>
		<li><a href="#">
			<span class="visible-sm visible-md visible-lg">
				<i class="glyphicon glyphicon-headphones"></i> Support</span>
			<i class="glyphicon glyphicon-headphones visible-xs"></i>
		</a></li> -->
	</ul>
</nav>