<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation">
			<a href="#inst" role="tab" data-toggle="tab" class="active">Instructions</a>
		</li>
		<li role="presentation" class="disabled">
			<a href="#actions" role="tab" data-toggle="tab">Patient Feedback <span class="label-as-badge label label-warning action-label">!</span></a>
		</li>
		<li role="presentation" class="disabled">
			<a href="#feedback" role="tab" data-toggle="tab">Annotation <span class="label-as-badge label label-warning fb-label">!</span></a>
		</li>
	</ul> 
	<div class="tab-content col-md-6" >
		<div class="tab-pane fade in active" id="inst" role="tabpanel">
			<h3>How To Use Dashboard.</h3>
			<hr>
			<ol>
				<li>
					<h4>Use the Patient View</h4>
					<p>Select A Patient In the Patient View.</p>
				</li>
				<li>
					<h4>View the Detailed Patient Activity Sheet</h4>
					<p>Here are displayed the vitals and measurements associated
					   with the given prediction.</p>
				</li>
				<li>	
					<h4>Comment On A Patient</h4>
					<p>If you find a reading to be inaccurate or already noted
					   you can provide patient feedback here: <a href="#actions" role="tab" data-toggle="tab">Patient Feedback.</a>
					   To exclude, right click the appropriate record and using the exclude button.</p>
				</li>
				<li>
					<h4>Provide Feedback/Annotation On Patient Activity Details</h4>
					<p>If you find measurements or particular values in this
					  field unuseful or if you notice elements our model is missing,
					  please provide your feedback in the <a href="#feedback" role="tab" data-toggle="tab">Annotation</a> tab.</p>
				</li>
			</ol>
		
		</div>
		<div class="tab-pane fade" id="actions" role="tabpanel">
			<h3>Leave Patient Feedback.</h3>
			<div class="container" style="margin-top:0px;">
				<div class="col-md-6">
				    <div class="form-area">  
				        <form role="form">
		    				<div class="form-group">
								<input type="text" class="form-control" id="patient" name="name" placeholder="Patient Number" required>
							</div>
							<div class="form-group">
							    <select id="selectbasic" name="selectbasic" class="form-control">
							      <option value="Septic-Known">Septic-Known</option>
							      <option value="NonSeptic-Error">NonSeptic-Error</option>
							    </select>
							</div>
		                    <div class="form-group">
		                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
		                        <span class="help-block" style="display:none;"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
		                    </div>
				            
				        <button id="submit" name="submit" class="send-patient-fb btn btn-primary pull-right">Submit Form</button>
				        </form>
				    </div>
				</div>
	      	</div>
		</div>
		<div class="tab-pane fade" id="feedback" role="tabpanel">
			<h3>Additional Feedback Form.</h3>
			<div class="container" style="margin-top:0px;">
			<div class="col-md-6">
			    <div class="form-area">  
			        <form role="form" >
	    				<div class="form-group">
							<input type="text" class="form-control" id="clinicianName" name="clinicianName" placeholder="Your Name" required>
						</div>
	                    <div class="form-group">
	                    <textarea class="form-control" type="textarea" id="annotationMessage" placeholder="Annotation Message" maxlength="140" rows="7"></textarea>
	                        <span class="help-block" style="display:none;"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
	                    </div>
			            
			        <button id="submit" name="submit" class="btn btn-primary pull-right send-annotation">Submit Form</button>
			        </form>
			    </div>
			</div>
      </div>
		</div>
	</div>
</div>