$body-color: #eee;
$light-blue: #8DA4E0;
$dark-blue:	 #4D00E8;

.loadie{z-index:9999;}
.btn.btn-primary{
	background-color:$dark-blue;
}

.alert{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	z-index:2;
}

.label-as-badge {
    border-radius: .5em;
    display:none;
}

#tableauViz, #controls{
	box-sizing: border-box;
}

#tableauViz{ 
	min-height: 50vh;
	min-width: 80%;
	padding:5px;
}

#controls{
	background-color:white;
	max-height: 50vh;
	min-height: 50vh;

}

body{
	background-color: $body-color;
}

.container{
	width:100%;
}

.body-content{
	margin-left: 12em;
	width:90%;
	transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

header{
	padding: 0.7em;
	background-color:$light-blue;
	color:white;
	font-size:large;
	text-transform: uppercase;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
	position:relative;
	z-index:1;
}

#atom{
	width:2em;
}

header a{
	color: #fefefe;
	letter-spacing:.2em;
}

header a:hover{
	text-decoration:none;
}

.pdsa-sn-wrapper{
	position:absolute;
	top: 3.5em;
	left: 0em;
	width: 13em;
	height: 100%;
	background-color: $dark-blue;
	transition:  all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.pdsa-sn-wrapper ul{
	width: 11em;
	list-style:none;
	margin-top: 2em;
	margin-left: 2em;
	padding:0em;
}

.pdsa-sn-wrapper ul li{
	margin-top: 1em;
	margin-bottom: 0.5em;
	letter-spacing:.2em;
	color: #eee;
}

.pdsa-sn-wrapper ul li a{
	font-size:smaller;
	letter-spacing:.2em;
	color: #eee;
	padding: 0.5em;
}

.pdsa-sn-wrapper ul li a span{
	margin-top:-1em;
	margin-bottom:-1em;
	margin-left:1em;
	padding: -1em 0;
}


.pdsa-sn-wrapper ul .pdsa-sn-brand{
	margin-left: -0.5em;
}



// Media querys
/* Smartphones (portrait and landscape) ----------- */
@media all  
and (max-width : 770px) {

	.pdsa-sn-wrapper{
		width:3em;
	}

	.pdsa-sn-wrapper ul li a i{
		margin:-1em 0em;
	}

	.body-content{
		margin-left: 3em;
	}
}